* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-color: #0f2027;
  --bg-webkit-gradient: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  );
  --bg-gradient: linear-gradient(to top, #2c5364, #203a43, #0f2027);
  --stroke-color: rgb(255, 255, 255, 1);
  --surface-color: rgb(255, 255, 255, 0.17);
  --text-color-icon: black;
  --surface-color-hover: rgb(255, 255, 255, 0.1);
}

.light {
  --text-color: black;
  --bg-color: #74ebd5;
  --bg-webkit-gradient: -webkit-linear-gradient(to bottom, #acb6e5, #74ebd5);
  --bg-gradient: linear-gradient(to bottom, #acb6e5, #74ebd5);
  --stroke-color: rgb(0, 0, 0, 1);
  --surface-color: rgb(0, 0, 0, 0.17);
  --text-color-icon: black;
  --surface-color-hover: rgb(0, 0, 0, 0.1);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  background: var(--bg-color);
  background: var(--bg-webkit-gradient);
  background: var(--bg-gradient);

  background-attachment: fixed;
}

body * {
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
  
}

#container {
  width: 320px;
  margin: 56px auto 0px;

  padding: 0px 12px;
}
/* profile */
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
  color: var(--text-color);
}

/* switch */

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}

#icon-switch {
  font-size: 24px;
  color: var(--text-color-icon);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 9999px;
}

/* list  */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 4px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;

  color: var(--text-color);
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.9px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 28px;
  gap: 32px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  color: var(--text-color);
  transition: background 0.5s;
}

#social-links a:hover {
  background: var(--text-color);
  background: var(--surface-color-hover);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

footer {
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
  color: var(--stroke-color);
}
